@import "inglobal";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
  padding: 0;
  margin: 0;
}
body{}
@media (min-width: 1140px) and (max-width: 1430px){
  .tint-block{
    background:
            url('~@/assets/img/pin_638.png')no-repeat 28% 10%,
            url('~@/assets/img/shape_9_592.png')no-repeat 25.2% 20.6%,
            url('~@/assets/img/shape_8_591.png')no-repeat 26.3% 10%,
            url('~@/assets/img/vector_smart_object_590.png')no-repeat 26% 10%,
            url('~@/assets/img/pin_642.png')no-repeat 71% 10%,
            url('~@/assets/img/shape_7_573.png')no-repeat 74% 10%,
            url('~@/assets/img/vector_smart_object_572.png')no-repeat 73% 10%,
            url('~@/assets/img/shape_9_560.png')no-repeat 58.5% 33%,
            url('~@/assets/img/shape_8_559.png')no-repeat 63.6% 25%,
            url('~@/assets/img/vector_smart_object_557.png')no-repeat 63% 25%,
            url('~@/assets/img/tape_646.png')no-repeat 42.5% 20.5%,
            url('~@/assets/img/shape_7_551.png')no-repeat 42.3% 24.8%,
            url('~@/assets/img/vector_smart_object_550.png')no-repeat 42% 25%,
            url('~@/assets/img/tape_644.png')no-repeat 76% 29%,
            url('~@/assets/img/shape_11_568.png')no-repeat 74.3% 42.2%,
            url('~@/assets/img/shape_10_567.png')no-repeat 73.5% 34%,
            url('~@/assets/img/vector_smart_object_563.png')no-repeat 73% 35%,
            url('~@/assets/img/pin_643.png')no-repeat 50% 30%,
            url('~@/assets/img/shape_7_549.png')no-repeat 50.6% 34.6%,
            url('~@/assets/img/vector_smart_object_548.png')no-repeat 50% 35%,
            url('~@/assets/img/shape_11_583.png')no-repeat 30% 43.5%,
            url('~@/assets/img/shape_10_582.png')no-repeat 30% 35%,
            url('~@/assets/img/vector_smart_object_581.png')no-repeat 29% 35%,
            url('~@/assets/img/tape_645.png')no-repeat 16% 20%,
            url('~@/assets/img/shape_7_587.png')no-repeat 19% 25%,
            url('~@/assets/img/vector_smart_object_586.png')no-repeat 18% 25%,
            url('~@/assets/img/layer_18_654.png') no-repeat ,
            url('~@/assets/img/bg_603.png') top right 10px no-repeat!important;
    & > .tint_b_comp .row1{

    }
    & > .tint_b_comp .row2{margin-left: 13%!important;
      margin-right: 28%!important;}
    & > .tint_b_comp .row3{
      margin-top: 36px!important;
      margin-left: 23%!important;
      margin-right: 22%!important;
    }
  }
}
@media (min-width: 1050px) and (max-width: 1140px){
  .tint-block{
    background:
            url('~@/assets/img/pin_638.png')no-repeat 27% 10%,
            url('~@/assets/img/shape_9_592.png')no-repeat 23.2% 20.6%,
            url('~@/assets/img/shape_8_591.png')no-repeat 24.3% 10%,
            url('~@/assets/img/vector_smart_object_590.png')no-repeat 24% 10%,
            url('~@/assets/img/pin_642.png')no-repeat 73% 10%,
            url('~@/assets/img/shape_7_573.png')no-repeat 76% 10%,
            url('~@/assets/img/vector_smart_object_572.png')no-repeat 75% 10%,
            url('~@/assets/img/shape_9_560.png')no-repeat 59.5% 33%,
            url('~@/assets/img/shape_8_559.png')no-repeat 64.6% 25%,
            url('~@/assets/img/vector_smart_object_557.png')no-repeat 64% 25%,
            url('~@/assets/img/tape_646.png')no-repeat 40.5% 20.5%,
            url('~@/assets/img/shape_7_551.png')no-repeat 40.3% 24.8%,
            url('~@/assets/img/vector_smart_object_550.png')no-repeat 40% 25%,
            url('~@/assets/img/tape_644.png')no-repeat 77% 29%,
            url('~@/assets/img/shape_11_568.png')no-repeat 75.3% 42.2%,
            url('~@/assets/img/shape_10_567.png')no-repeat 74.5% 34%,
            url('~@/assets/img/vector_smart_object_563.png')no-repeat 74% 35%,
            url('~@/assets/img/pin_643.png')no-repeat 50% 30%,
            url('~@/assets/img/shape_7_549.png')no-repeat 50.6% 34.6%,
            url('~@/assets/img/vector_smart_object_548.png')no-repeat 50% 35%,
            url('~@/assets/img/shape_11_583.png')no-repeat 28% 43.5%,
            url('~@/assets/img/shape_10_582.png')no-repeat 28% 35%,
            url('~@/assets/img/vector_smart_object_581.png')no-repeat 27% 35%,
            url('~@/assets/img/tape_645.png')no-repeat 13% 20%,
            url('~@/assets/img/shape_7_587.png')no-repeat 16% 25%,
            url('~@/assets/img/vector_smart_object_586.png')no-repeat 15% 25%,
            url('~@/assets/img/layer_18_654.png') no-repeat ,
            url('~@/assets/img/bg_603.png') top right 10px no-repeat!important;
    & > .tint_b_comp .row1 img{
      margin-left: 18%!important;
      margin-right: 17%!important;
    }
    & > .tint_b_comp .row2{margin-left: 11%!important;
      margin-right: 27%!important;}
    & > .tint_b_comp .row3{
      margin-top: 36px!important;
      margin-left: 20%!important;
      margin-right: 19%!important;
    }
  }
}
@media (min-width: 908px) and (max-width: 1050px){
  .tint_b_comp {
    background: url(/img/macbook_1630.8d8190d5.png) no-repeat 30% 82% / 95%,
    url(/img/cup_1654.b11921c9.png) no-repeat 100% 76% / 25%,
    url(/img/layer_19_1766.5147b20b.png) no-repeat 2% 72% / 25%,
    url(/img/shadow_1768.b8b5357c.png) no-repeat 8% 87% / 25% !important;
  }
  .tint-block{
    background:
            url('~@/assets/img/pin_638.png')no-repeat 23% 10%,
            url('~@/assets/img/shape_9_592.png')no-repeat 19.2% 20.6%,
            url('~@/assets/img/shape_8_591.png')no-repeat 20.3% 10%,
            url('~@/assets/img/vector_smart_object_590.png')no-repeat 20% 10%,
            url('~@/assets/img/pin_642.png')no-repeat 77% 10%,
            url('~@/assets/img/shape_7_573.png')no-repeat 81% 10%,
            url('~@/assets/img/vector_smart_object_572.png')no-repeat 80% 10%,
            url('~@/assets/img/shape_9_560.png')no-repeat 60.5% 33%,
            url('~@/assets/img/shape_8_559.png')no-repeat 67.6% 25%,
            url('~@/assets/img/vector_smart_object_557.png')no-repeat 67% 25%,
            url('~@/assets/img/tape_646.png')no-repeat 40.5% 20.5%,
            url('~@/assets/img/shape_7_551.png')no-repeat 40.3% 24.8%,
           url('~@/assets/img/vector_smart_object_550.png')no-repeat 40% 25%,
            url('~@/assets/img/tape_644.png')no-repeat 81% 29%,
            url('~@/assets/img/shape_11_568.png')no-repeat 80.3% 42.2%,
            url('~@/assets/img/shape_10_567.png')no-repeat 79.5% 34%,
            url('~@/assets/img/vector_smart_object_563.png')no-repeat 79% 35%,
            url('~@/assets/img/pin_643.png')no-repeat 50% 30%,
            url('~@/assets/img/shape_7_549.png')no-repeat 50.6% 34.6%,
            url('~@/assets/img/vector_smart_object_548.png')no-repeat 50% 35%,
            url('~@/assets/img/shape_11_583.png')no-repeat 24% 43.5%,
            url('~@/assets/img/shape_10_582.png')no-repeat 24% 35%,
            url('~@/assets/img/vector_smart_object_581.png')no-repeat 24% 35%,
            url('~@/assets/img/tape_645.png')no-repeat 7% 20%,
            url('~@/assets/img/shape_7_587.png')no-repeat 10% 25%,
            url('~@/assets/img/vector_smart_object_586.png')no-repeat 9% 25%,
            url('~@/assets/img/layer_18_654.png') no-repeat ,
            url('~@/assets/img/bg_603.png') top right 10px no-repeat !important;
    & > .tint_b_comp .row1 img{
      margin-left: 13%!important;
      margin-right: 12%!important;
    }
    & > .tint_b_comp .row2{margin-left: 6%!important;
      margin-right: 23%!important;}
    & > .tint_b_comp .row3{
      margin-top: 36px!important;
      margin-left: 16%!important;
      margin-right: 16%!important;
    }
  }
}
@media (min-width: 838px) and (max-width: 908px){
  .tint_b_comp {
    background: url(/img/macbook_1630.8d8190d5.png) no-repeat 30% 82% / 86%,
    url(/img/cup_1654.b11921c9.png) no-repeat 100% 76% / 25%,
    url(/img/layer_19_1766.5147b20b.png) no-repeat 2% 72% / 25%,
    url(/img/shadow_1768.b8b5357c.png) no-repeat 8% 87% / 25% !important;
  }
  .kak_text{
    margin: 5% 4%;
    font-size: 24px;
  }
  .tint-block{
    background:
            url('~@/assets/img/pin_638.png')no-repeat 21% 10%,
            url('~@/assets/img/shape_9_592.png')no-repeat 15.2% 20.6%,
            url('~@/assets/img/shape_8_591.png')no-repeat 16.3% 10%,
            url('~@/assets/img/vector_smart_object_590.png')no-repeat 16% 10%,
            url('~@/assets/img/pin_642.png')no-repeat 80% 10%,
            url('~@/assets/img/shape_7_573.png')no-repeat 85% 10%,
            url('~@/assets/img/vector_smart_object_572.png')no-repeat 84% 10%,
            url('~@/assets/img/shape_9_560.png')no-repeat 62.5% 33%,
            url('~@/assets/img/shape_8_559.png')no-repeat 69.6% 25%,
            url('~@/assets/img/vector_smart_object_557.png')no-repeat 69% 25%,
            url('~@/assets/img/tape_646.png')no-repeat 38.5% 20.5%,
            url('~@/assets/img/shape_7_551.png')no-repeat 38.3% 24.8%,
            url('~@/assets/img/vector_smart_object_550.png')no-repeat 38% 25%,
            url('~@/assets/img/tape_644.png')no-repeat 84% 29%,
            url('~@/assets/img/shape_11_568.png')no-repeat 83.3% 42.2%,
            url('~@/assets/img/shape_10_567.png')no-repeat 82.5% 34%,
            url('~@/assets/img/vector_smart_object_563.png')no-repeat 82% 35%,
            url('~@/assets/img/pin_643.png')no-repeat 50% 30%,
            url('~@/assets/img/shape_7_549.png')no-repeat 50.6% 34.6%,
            url('~@/assets/img/vector_smart_object_548.png')no-repeat 50% 35%,
            url('~@/assets/img/shape_11_583.png')no-repeat 21% 43.5%,
            url('~@/assets/img/shape_10_582.png')no-repeat 21% 35%,
            url('~@/assets/img/vector_smart_object_581.png')no-repeat 21% 35%,
            url('~@/assets/img/tape_645.png')no-repeat 2% 20%,
            url('~@/assets/img/shape_7_587.png')no-repeat 5% 25%,
            url('~@/assets/img/vector_smart_object_586.png')no-repeat 3% 25%,
            url('~@/assets/img/layer_18_654.png') no-repeat ,
            url('~@/assets/img/bg_603.png') top right 10px no-repeat !important;
    & > .tint_b_comp .row1 img{
      margin-left: 11%!important;
      margin-right: 8%!important;
    }
    & > .tint_b_comp .row2{margin-left: 2%!important;
      margin-right: 21%!important;}
    & > .tint_b_comp .row3{
      margin-top: 36px!important;
      margin-left: 14%!important;
      margin-right: 14%!important;
    }
  }
}
@media (min-width: 576px) and (max-width: 838px) {
  .tint_b_comp {
    background: url(/img/macbook_1630.8d8190d5.png) no-repeat 30% 82% / 86%,
    url(/img/cup_1654.b11921c9.png) no-repeat 100% 76% / 25%,
    url(/img/layer_19_1766.5147b20b.png) no-repeat 2% 72% / 25%!important;
    & > .row1 img{
      margin-left: 11%!important;
      margin-right: 8%!important;
      width: 19%!important;

    }
    & > .row2{
      margin-top: calc(178px - 17%)!important;
      margin-left:7%!important;
      margin-right: 26%!important;
    & > img{
      margin-right: 5%!important;
      margin-left: 5%!important;
      width: 19%!important;
    }}
    & > .row3{
      margin-top: calc(178px - 17%)!important;
      margin-left: 16%!important;
      margin-right: 20%!important;
      & > img{
        margin-left: 2%!important;
        margin-right: 2%!important;
        width: 19%!important;
      }
    }
  }
  .kak_text{
    margin: 5% 4% !important;
    font-size: 24px !important;
  }
  .kakdanu,
  .banner_l1,
  .banner_l0{
    width: 100%;
  }
  .banner_l1 h3{
    width: 100%;
  }
  .hat_img{
    display: none;
  }
  .tint-block{
    background:
            url('~@/assets/img/pin_638.png')no-repeat 21% 10%,
            url('~@/assets/img/shape_9_592.png')no-repeat 15.2% 20.6%,
            url('~@/assets/img/shape_8_591.png')no-repeat 16.3% 10%,
            url('~@/assets/img/vector_smart_object_590.png')no-repeat 16% 10%,
            url('~@/assets/img/pin_642.png')no-repeat 80% 10%,
            url('~@/assets/img/shape_7_573.png')no-repeat 85% 10%,
            url('~@/assets/img/vector_smart_object_572.png')no-repeat 84% 10%,
            url('~@/assets/img/shape_9_560.png')no-repeat 61% 33%,
            url('~@/assets/img/shape_8_559.png')no-repeat 69.6% 25%,
            url('~@/assets/img/vector_smart_object_557.png')no-repeat 69% 25%,
            url('~@/assets/img/tape_646.png')no-repeat 38.5% 20.5%,
            url('~@/assets/img/shape_7_551.png')no-repeat 38.3% 24.8%,
            url('~@/assets/img/vector_smart_object_550.png')no-repeat 38% 25%,
            url('~@/assets/img/tape_644.png')no-repeat 84% 29%,
            url('~@/assets/img/shape_11_568.png')no-repeat 83.3% 42.2%,
            url('~@/assets/img/shape_10_567.png')no-repeat 82.5% 34%,
            url('~@/assets/img/vector_smart_object_563.png')no-repeat 82% 35%,
            url('~@/assets/img/pin_643.png')no-repeat 50% 30%,
            url('~@/assets/img/shape_7_549.png')no-repeat 50.6% 34.6%,
            url('~@/assets/img/vector_smart_object_548.png')no-repeat 50% 35%,
            url('~@/assets/img/shape_11_583.png')no-repeat 21% 43.5%,
            url('~@/assets/img/shape_10_582.png')no-repeat 21% 35%,
            url('~@/assets/img/vector_smart_object_581.png')no-repeat 21% 35%,
            url('~@/assets/img/tape_645.png')no-repeat 2% 20%,
            url('~@/assets/img/shape_7_587.png')no-repeat 5% 25%,
            url('~@/assets/img/vector_smart_object_586.png')no-repeat 3% 25%,
            url('~@/assets/img/layer_18_654.png') no-repeat ,
            url('~@/assets/img/bg_603.png') top right 10px no-repeat !important;;
  }
}
@media (max-width: 576px){
  .sitebar{
    display: none;
  }

  .tint-block{
   display: none;
  }
  #menu,.banner_l0, .kakdanu, .kruty, .box_img, .banner_l1, .hat_img {
    display: none;
  }
  .phone{
    display: block;
    width: auto;
    background: none;
    margin: 0 auto 40px;
    & > .img_phone{
      width: 61px;
      height: 105px;
      margin: 5%;

    }
    & > p{
      color: #1e1e1e;
      & > .phone_num{
        tont-size: 24px;
      }
    }
  }
  .contacts {
    flex-direction: column;
    height: auto;
    justify-content: center;
    & > .blue_cont,.pink_cont{
      padding-left: 2%;
      padding-right: 3%;
      width: auto;
      & > h4, p, ul{
       text-align: left;
        width:100%;
      }
    }

  }
  .footer {
    background:
            url('~@/assets/img/vector_smart_object_1822.png') no-repeat center / cover ,
            url('~@/assets/img/bg_1825.png') no-repeat center / cover;
    margin-top: 40px;
    & > .cont_footer {
      flex-direction: column;
      align-items: center;
      & > .text_footer {
        display: flex;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        & > h4, p, span, a{
          text-align: left;
          width: 96%;
        }
        & > hr{
          text-align: left;
        }
      }
      & > .map_footer {
        display: flex;
        width: 96%;
        margin: 0 auto;
        & > img{
          margin: 0 auto;
          width: 96%;
        }
      }
    }

  }
  .block_hat_form{
    flex-direction: column;
    position: relative;
    height: auto;
    background: none;
    & > .hat_form_text, .hat_form{
      width: 100%;
    }
    & > .hat_form {
        display: none;
      }

    }
  nav{
    display: flex;
  }
  }

